@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  @apply font-semibold py-2 px-4 rounded shadow;
}

/* leaflet */
.recharts-surface:focus,
.recharts-sector:focus,
.leaflet-interactive:focus {
  outline: none;
}

.legend {
  position: absolute;
  z-index: 400; /* なぜか400で見えるようになった */
  right: 20px;
  bottom: 20px;
  letter-spacing: 2px;
}
